{% extends 'main/layout.html' %}

{% block title %}Регистация{% endblock %}

{% block content %}
    <form action="#" method="get">
        {% csrf_token %}
        <div>
            <p>Имя</p>
            <input placeholder="Имя" tabindex="1" name="username" type="text" />
        </div>
        <div>
            <p>Пароль</p>
            <input tabindex="2" name="userpass" type="password" />
        </div>
        <div>
            <p>Телефон</p>
            <input tabindex="3" name="userphone" type="tel" />
        </div>
        <div>
            <p>Пол</p>
            <div>
                <input checked tabindex="4" name="usergender" type="radio" value="male" /> Муж
            </div>
            <div>
                <input tabindex="4" name="usergender" type="radio" value="female" /> Жен
            </div>
        </div>
        <div>
            <p>Имущество</p>
            <div>
                <input checked  tabindex="5" type="checkbox" name="bike" value="yes" /> Велик
            </div>
            <div>
                <input tabindex="6" type="checkbox" name="car" value="yes" /> Машина
            </div>
            <div>
                <input disabled tabindex="7" type="checkbox" name="house" value="yes" /> Дом
            </div>
        </div>
        <div>
            <p>Допольнительная информация</p>
            <textarea tabindex="8" name="text"></textarea>
        </div>
        <div>
            <p>Прикрипить фото</p>
            <input tabindex="9" type="file" name="userfoto" />
        </div>
        <div>
            <p>Любимый цвет</p>
            <select tabindex="10" name="color">
                <option value="red">Красный</option>
                <option value="green">Зеленный</option>
                <option value="yellow">Желтый</option>
            </select>
        </div>
        <div>
            <p>Действия</p>
            <button tabindex="11" type="submit" class="btn btn-warning">Отправить</button>
            <button tabindex="12" type="reset" class="btn btn-warning">Очистить</button>
        </div>
    </form>

{% endblock %}